.container {
  width: 100%;
  min-height: 100dvh;
  position: relative;
  overflow: hidden;
  padding: 11px 14px;
}

.innerContainer {
  width: 100%;
  height: 100dvh;
  border: 1px solid #ffffff;
  border-radius: 5px;
  position: relative;
}

.line {
  padding: 11px 14px;
  width: 1px;
}

.cloudIcon {
  position: absolute;
  top: 38px;
  left: 15px;
  width: 159px;
  height: 39px;
}

.cloudSecondIcon {
  position: absolute;
  top: 88px;
  right: -58px;
  width: 159px;
  height: 39px;
  transform: scaleX(-1);
}

.sunIcon {
  position: absolute;
  top: 45px;
  right: 42px;
  width: 85px;
  height: 85px;
}

.edgeContainer {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
  max-width: 450px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.edgeImage {
  position: absolute;
  width: 90%;
  height: 70%;
}

.tteokgukImage {
  z-index: 2;
}

.topBackground {
  position: absolute;
  bottom: 0;
  left: -25%;
  width: 150%;
  height: 40%;
  background-color: rgba(141, 109, 71, 0.69);
  border-radius: 50% 50% 0 0 / 30% 30% 0 0;
  z-index: 1;
}

.bottomBackground {
  position: absolute;
  bottom: 0;
  left: -25%;
  width: 150%;
  height: 35%;
  background-color: #766551;
  border-radius: 50% 50% 0 0 / 30% 30% 0 0;
  z-index: 1;
}

.buttonContainer {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 450px;
  padding: 0 20px;
  display: flex;
  gap: 9px;
  box-sizing: border-box;
  z-index: 2;
}

.rankingButton,
.testButton {
  flex: 1;
  height: 70px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  width: auto;
  color: #000000;
}

.testButton {
  background-color: #25d366;
}

.rankingButton {
  background-color: #ffffff;
}

.tteokgukContainer {
  position: relative;
  width: 238px;
  height: 183px;
  z-index: 2;
}

.selectedSubItems {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.selectedMainItems {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.selectedGarnishItems {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.selectedSubItem,
.selectedMainItem,
.selectedGarnishItem {
  position: absolute;
  top: 0;
  left: 0;
}

.gulPosition {
  left: 30px;
  transform: rotate(-20deg);
}

.huruPosition {
  top: -40px;
  left: -30px;
}

.textContainer {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
  width: 100%;

  p {
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: #000000;
    word-break: keep-all;

    &:nth-child(2) {
      margin-top: -20px;
    }
  }
}

.subTextContainer {
  padding: 0 54px;
  margin-top: -20px;

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #5a5a5a;
    word-break: keep-all;
  }
}

.flagContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -65px;
  left: 50%;
  width: fit-content;
  height: 49px;
  transform: translateX(-50%);
  z-index: 5;
  background: #ffffff;
  border: 1px solid #5b6477;
  border-radius: 5px;
  padding: 8px 10px 0 10px;

  &::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 1px solid #df658a;
    border-radius: 3px;
  }

  p {
    font-size: 14px;
    color: #000000;
    white-space: nowrap;
  }
}

.flagIcon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 10;
}
